body {
    font-family: sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    text-align: left;
}

.container-inner {
    width: 1300px;
    display: flex;
    flex-direction: row-reverse;

}

a {
    color: #7A7A7A;
    text-decoration: none;
    transition: 200ms;
    cursor: pointer;
}

a:hover {
    color: #484648;
}

.navigation {
    border-bottom: 2px solid black;
}

.header {
    display: inline-block;
    margin-left: 16%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header a {
    color: black;
    font-size: 24px;
}

.additional-nav {
    float: right;
    margin-right: 16.5%;
    margin-top: 15px;
}

.additional-nav a {
    margin-left: 20px;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.categories a {
    margin-top: 10px;
}
